@{
    ViewData["Title"] = "Message page";
}

@if (Model is Dictionary<string, string> dictionary)
{
    <table>
        <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in dictionary)
        {
            <tr>
                <th>
                    @item.Key
                </th>
                <th>
                    @item.Value
                </th>
            </tr>
        }
        </tbody>
    </table>
}
else if (Model is string)
{
    @Model
}
